@inherits LayoutComponentBase
<!--Audio player lagt på main layout, så den altid er på sidne
Lagt som fotter da den skal være  bunden -->
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
        </div>

        <div class="content px-4">
            @Body
        </div>
        <!-- ** How to make it stay fixed in the bottom? -->
        <footer id="audioPlayerContainer">
            <AudioPlayer ></AudioPlayer>
        </footer>
    </div>
</div>