

<button onclick="@Confirm()">Ok</button>

<button onclick="@Cancel()">Cancel</button>


@code {
    
    [CascadingParameter] public BlazoredModalInstance BlazoredModal { get; set; }

    public async Task Confirm()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }
        
    private async Task Cancel()
    {
        await BlazoredModal.CancelAsync();
    }
}