@using Microsoft.AspNetCore.Components


<div class="form-group">
    <label>Playlist Title:</label>
    <input type="text" placeholder="Title" @bind-value="Playlist.Title"/>
</div>
<div style="color:red">@errorMessage</div>

<button class="btn btn-outline-dark" @onclick="PerformCreatePlaylist"> Create Playlist </button>

<button class="btn btn-outline-dark" @onclick="Cancel"> Cancel </button>
<div/>

@code {

   

}