@page "/"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env


<h1 style="font-family:'Old English Text MT'; font-size: 70px; margin-right: 400px">Welcome to Spiratify </h1>

<h4>Login to your account or register a new user</h4>


<div class="table-responsive" style="margin-bottom: 150px">
    <AuthorizeView>
        <NotAuthorized>
            <div class="form-group">
                <label>Username:</label>
                <input type="text" placeholder="Username" @bind-value="username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Password" @bind-value="password"/>
            </div>
            <div style="color:red">@errorMessage</div>

            <button class="btn btn-outline-dark" @onclick="PerformLogin"> Login </button>

            <button class="btn btn-outline-dark" @onclick="registerPopup"> Register new user </button>


        </NotAuthorized>
        <Authorized>
            <button class="btn btn-outline-dark" @onclick="PerformLogout"> Log out </button>

        </Authorized>
    </AuthorizeView>
</div>