@using Entities
@using Blazor.Model.ArtistModel
@inject IModalService ModalService
@inject IArtistModel ArtistModel 

<input  type="text" @bind="artistName">
<button @onclick="addNewArtist">
    Add new Artist
</button> 
<br/>
<br/>


<input type="text" @bind="searchName">
<button @onclick="@searchForArtist">
    Search
</button> 

@if (searchedForArtists == null)
    {
        <p>
        @displayToUser
            </p>
    } @if (searchedForArtists.Count == 0)
      {
          <p>
        @displayToUser
          </p>
      }
      else
      {
          <table class="table">
              <thead>
              <tr>
                  <th>Name</th>
              </tr>
              </thead>
              <tbody>
              @foreach (Artist artist in searchedForArtists)
              {
                  <tr>
                      <td>@artist.Name</td>
                      <td>
                          <button class="btn btn-secondary" @onclick="() => chooseExistingArtist(artist)">Add artist</button>
                      </td>
                  </tr>
                  
              }
              </tbody>
          </table>
      }


<button @onclick="Cancel" class="btn btn-secondary">Cancel</button>


@code {


}
