@page "/PlaylistOverview"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env


@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = "MustBeLoggedIn")]


<h3>Your Playlists</h3>
<td>
 
    
    <button @onclick="() => PerformCreatePlaylist()"> <i class="oi oi-plus" style="color:blue"/>
      Create New Playlist  </button>
</td>

@if (Playlists == null)
{
    <em>Loading...</em>
}
else if (!Playlists.Any())
{
    <br/>
    <em>No playlists found.</em>
}
else
{
    <table class="table">
        <thead>

        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playlist in Playlists)
        {
            <tr>
                <td>
                    
                    <button @onclick="@(() => LoadPlaylist(playlist))">
                        <i class="oi oi-media-play" style="color:blue"/>
                    </button> @playlist.Title
                </td>
                 <button @onclick="() => RemovePlaylist(playlist)"> <i class="oi oi-trash" style="color:blue"/>
                      Remove Playlist  </button>
                <td>

                </td>
            </tr>
        }
        </tbody>
    </table>
@code {

}}