@page "/PlaylistOverview"
@using Blazor.Model.PlaylistModel
@using Entities
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@using Blazor.Authentication
@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks
@using Blazor.Authentication
@using Blazor.Model.PlaylistModel
@using Blazor.Pages
@using Blazored.Modal
@using Blazored.Modal.Services
@using Entities
@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks
@using Blazor.Authentication
@using Blazor.Model.PlaylistModel
@using Blazor.Pages
@using Blazored.Modal
@using Blazored.Modal.Services
@using Entities
@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks
@using Blazor.Authentication
@using Blazor.Model.PlaylistModel
@using Blazor.Pages
@using Blazored.Modal
@using Blazored.Modal.Services
@using Entities
@using Microsoft.AspNetCore.Components
@using System.Threading.Tasks
@using Blazor.Authentication
@using Blazor.Model.PlaylistModel
@using Blazor.Pages
@using Blazored.Modal
@using Blazored.Modal.Services
@using Entities
@using Microsoft.AspNetCore.Components
@using Playlist = Blazor.Pages.Playlist
@using System.Threading.Tasks
@using Blazor.Model.PlaylistModel
@using Blazor.Pages
@using Entities
@using Microsoft.AspNetCore.Components

@inject NavigationManager NavigationManager
@attribute [Authorize(Policy = "MustBeLoggedIn")]
@using Syncfusion.Blazor.Buttons


<h3>Your Playlists</h3>
<td>
 
    
    <button @onclick="() => PerformCreatePlaylist()"> <i class="oi oi-plus" style="color:blue"/>
      Create New Playlist  </button>
</td>

@if (Playlists == null)
{
    <em>Loading...</em>
}
else if (!Playlists.Any())
{
    <br/>
    <em>No playlists found.</em>
}
else
{
    <table class="table">
        <thead>

        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var playlist in Playlists)
        {
            <tr>
                <td>
                    @* @onclick="@(() => LoadPlaylist(playlist)) *@
                    <button @onclick="@(() => NavigationManager.NavigateTo("/playlist"))">
                        <i class="oi oi-media-play" style="color:blue"/>
                    </button> @playlist.Title
                </td>
                 <button @onclick="() => RemovePlaylist(playlist)"> <i class="oi oi-trash" style="color:blue"/>
                      Remove Playlist  </button>
                <td>

                </td>
            </tr>
        }
        </tbody>
    </table>
@code {

}}