@page "/PlaylistDisplay/{PlaylistToDisplay}"
@using Entities
@using Blazor.Model.PlaylistModel

@if (currentPlaylist != null)
{
    <h3>@currentPlaylist.Title</h3>

    <SongTable Playlist="currentPlaylist"/>
}
else
{
    <p>Loading..... </p>
}

<p></p>

@code {
  
}