@page "/Search"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
<h3>Search</h3>


<div >
    <EditForm Model="@LibraryModel">
        <InputSelect @bind-Value="filterOption">
            <option>Title</option>
            <option>Artist</option>
            <option>Album</option>
        </InputSelect>
        <InputText @bind-Value="searchField"/>
        <button class="btn btn-outline-dark" @onclick="Filter">Search</button>
    </EditForm>
</div>


<SongTable SongList="songsToShow"/>